:root{
    --text-dark: #323232;
    --branding-dark: #1d4438;
    --branding-light: #295f4e3a;
    --heading-font: 'Noto Serif Display', serif;
    --text-font: 'Noto Sans Display', sans-serif;
    
}

h1, h2, h3, h4, h5, h6{
    font-family: var(--heading-font);
    color: var(--text-dark);
}

.hero-container{
    background-color: var(--branding-light);
    width: 100%;
    
}
.hero{
    text-align: center;
    margin: 0 auto;
    padding: 120px;
    line-height: 1.5;
    max-width: 800px;
}

.hero h1{
    font-family: var(--heading-font);
    color: var(--text-dark);
    font-weight: 600;
    font-size: 96px;
    
}

.hero a{
    padding: 15px 30px;
    text-decoration: none;
    font-family: var(--text-font);
    border-radius: 4px;
    border: 1.5px solid var(--branding-dark);
    background-color: var(--branding-dark);
    color: white;
    transition: all 150ms ease-in-out;
}
.hero a:hover{
    background-color: white;
    border: 1.5px solid var(--branding-dark);
    color: var(--text-dark);
    font-weight: 600;
}

.hero p, h2{
    font-family: var(--text-font);
    color: var(--text-dark);
    font-size: 28px;
}


