:root{
    --text-dark: #323232;
    --branding-dark: #295f4e;
    --branding-light: #295f4e3a;
    --button-color: #07689f;
    --background-light: #f1f2eb;
    --heading-font: 'Noto Serif Display', serif;
    --text-font: 'Noto Sans Display', sans-serif;
    --box-shadow: 3px 3px 8px 4px rgba(0,0,0,0.4);
    
}

h1, h2, h3, h4, h5, h6{
    font-family: var(--heading-font);
    color: var(--text-dark);
    text-align: center;
    font-weight: 600;
}

img{
    border-radius: 4px;
}

.hero-container{
    background-color: var(--branding-light);
    width: 100%;
    
}
.hero{
    text-align: center;
    margin: 0 auto;
    padding: 120px;
    line-height: 1.5;
    max-width: 800px;
}

.hero h1{
    font-family: var(--heading-font);
    color: var(--text-dark);
    font-weight: 600;
    font-size: 96px;
    
}

.button-style{
    padding: 15px 18px;
    text-decoration: none;
    font-family: var(--text-font);
    font-weight: 600;
    border-radius: 4px;
    background-color: var(--button-color);
    color: white;
    border: 1px solid var(--button-color);
    box-shadow: var(--box-shadow);
    transition: all 150ms ease-in-out;
}
.button-style:hover{
    color: white;
    border: 2px solid var(--button-color);
    
}

.hero p, h2{
    font-family: var(--text-font);
    color: var(--text-dark);
    font-size: 28px;
    font-weight: 400;
}

.container h3{
    font-family: var(--text-font);
    background-color: #f1f2eb;
    border-radius: 5px;
    padding: 10px;
    background-position: 100%;
}
.container h4{
    font-size: 36px;
}

.container p{
    padding: 20px 0;
}

@media(max-width: 600px){
    .hero h1{
        font-size: 60px;
    }
    .hero h2{
        font-size: 22px;
    }
    
    .img-1, .img-2{
        display: none;
    }
    .container{
        text-align: center;
    }
}