:root{
    --text-dark: #323232;
    --text-light: #f4e5c2;
    --branding-dark: #295f4e;
    --branding-light: #6db193;
    --heading-font: 'Noto Serif Display', serif;
    --text-font: 'Noto Sans Display', sans-serif;
}

h1, h2, h3, h4, h5, h6{
    font-family: var(--heading-font);
    color: var(--text-dark);
}

.hero h1{
    font-family: var(--heading-font);
    color: var(--text-dark);
    font-weight: 600;
    font-size: 96px;
}